#charts-component-container {
    display: flex;
    width: 100%;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: .3s;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
}

.chart {
    min-width: 300px;
    background-color: rgba(0, 0, 0, .2);
    margin: 1%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: .3s;
    position: relative;
    cursor: pointer;
}

.chart:hover {
    transform: scale(1.1);
}

.chart-title {
    position: absolute;
    top: 0;
}