#charts-component-container {
    display: flex;
    width: 100%;
}

#chart-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    transition: .3s;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    align-content: flex-start;
    position: relative;
    padding-top: 30px;
}

.chart {
    min-width: 300px;
    max-width: 95%;
    flex-grow: 1;
    background-color: rgba(0, 0, 0, .2);
    margin: 3%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: .3s;
    position: relative;
    cursor: pointer;
}

.chart:hover {
    transform: scale(1.1);
}

.chart-title {
    position: absolute;
    top: 0;
}