#map-coponent-container{
    display: flex;
    width: 100%;
}
#map-container{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    position: relative;
}
.map{
    width: 100%;
    height: 90%;
    
}
#map-info-container{
    padding-top: 10px;
    overflow: hidden;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    flex-direction: column;
    cursor: pointer;
}

